
*{
margin: 0;
padding: 0;
}
body{
background-image:url(images/bgpic.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.kmpng{
position:absolute;
width:280px;
height:60px;
top:40px;
left:100px;
}
.logo{
box-sizing:border-box;
border-radius: 40px;
padding: 1px;
box-shadow: 5px 6px 14px black;
}

.headers {
    text-align: right;
    padding: 2em;
}



/* Dropdown container */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown button */
.dropbtn {
background-color: #4CAF50;
color: white;
border-radius:20px;
padding: 10px;
font-size: 20px;
border: none;
cursor: pointer;
}

/* Links inside the dropdown */
.dropbtn a {
color: black;
padding: 8px 12px;
text-decoration: none;
display: block;
}
.simg img{
width:100%;
height:300px;
}

footer{
box-sizing:border-box;
border-radius: 40px;
padding: 1px;
box-shadow: 5px 6px 14px black;
}
.footercontainer{
width:100%;
padding:120px 10px 10px;
}
footer .kmimg{
position:absolute;
width:280px;
height:60px;
left:600px;
}
.socialicons{
display:flex;
justify-content:center;
}
.socialicons a{
text-decoration:none;
padding:10px;
margin:10px;
border-radius:50%;
}
.socialicons a i{
font-size:1.5em;
color:black;
opacity:0.9;
}
.socialicons a:hover{
background-color:#111;
transition:0.5s
}
.socialicons a i:hover{
color:white;
transition:0.5s;
}


@media(max-width:700px){
.footernav ul{
flex-direction:column;
}
.footernav ul li{
width:100%;
text-align:center;
margin:10px
}
footer .kmimg{
width:180px;
left:150px;
}
.dropbtn{
border-radius:10px;
padding: 5px;
font-size: 10px;
border: none;
cursor: pointer;
}
.kmpng{
width:180px;
height:30px;
top:30px;
left:1px;
}
}
